.tile{
    display: flex;
    gap: 16px;
    align-items: center;
    background-color: var(--color-white);
    transition-property: box-shadow;
    transition-duration: var(--transition-fast);
    transition-timing-function: ease-out;
    text-decoration: none;
    border-radius: 8px;
}

.tile:focus{
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
    box-shadow: var(--focus-box-shadow);
}

.tile__img-container{
    aspect-ratio: 1/0.7;
    position: relative;
    width: 30%
}
.tile__img{
    object-fit: cover;
    border-radius: 8px 0 0 8px;

}
.tile__text{
    font-size: var(--font-size-md);
    font-family: var(--font-family);
    color: var(--color-clay);
    font-weight: var(--font-bold);
}
