.header {
    display: grid;
    grid-template-columns: 44px 1fr 44px;
    grid-template-areas: 'menu text tel';
    grid-gap: 8px;
    padding: 8px;
    background-color: var(--color-clay);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

.header__menu {
    grid-area: menu;
}

.header__tel {
    grid-area: tel;
}

.header__links {
    display: none;
    grid-area: links;
}

.header__logo {
    display: none;
}

.header__text {
    grid-area: text;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--color-white);
    font-family: var(--font-family);
    line-height: var(--line-height-lg);
    font-size: var(--font-size-lg);
    font-weight: var(--font-bold);
}

.header__button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--color-ochre);
    background-color: transparent;
    border: 0;
    margin: 0;
    padding: 0;
    border-radius: 4px;
    transition-property: box-shadow;
    transition-duration: var(--transition-fast);
    transition-timing-function: ease-out;
}
.header__link{
    color: var(--color-white);
    text-decoration: none;
}
.header__link:focus,
.header__button:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
    box-shadow: var(--clay-focus-box-shadow);
}


@media (min-width: 48em) {
    .header {
        padding-block: 32px 16px;
        gap: 16px;
        grid-template-columns: 1fr;
        grid-template-areas: 'logo' 'text' 'links';
        position: static;
    }

    .header__menu,
    .header__tel {
        display: none;
    }

    .header__links {
        display: flex;
        justify-content: center;
    }

    .header__text {
        gap: 24px;
    }

    .header__logo {
        display: flex;
    }

}

.dialog {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: auto;
    width: 280px;
    max-width: 280px;
    min-height: 100vh;
    max-height: 100vh;
    margin: 0;
    box-sizing: border-box;
    border: 0;
    box-shadow: 0 0 16px 0 rgba(0 0 0 / 40%);
}

.dialog::backdrop {
    background-color: rgba(0 0 0 /40%);
}

.dialog__close {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: var(--color-black);
    background-color: transparent;
    border: 2px solid var(--color-black);
    margin: 0;
    padding: 0;
    border-radius: 4px;
    transition-property: box-shadow;
    transition-duration: var(--transition-fast);
    transition-timing-function: ease-out;

}

.dialog__close:focus {
    outline: var(--focus-outline);
    outline-offset: var(--focus-outline-offset);
    box-shadow: var(--focus-box-shadow);
}
