.footer{
    padding-top: 16px;
    padding-bottom: 16px;
    background-color: var(--color-clay);
    color: var(--color-white);
}

.footer__container {
    padding-inline: 16px;
}
@media (min-width: 48em){
    .footer{
        margin-top: 32px;
    }
}
